<%= form_for @recipe do |form| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.text_field :name, placeholder: "Name", class: "form-control" %>
  </div>


  <div>
    <%= form.select :category_id, @categories.collect { |c| [c.name, c.id ]}, {include_blank: "Please select a category"}, id: "searchable" %>
  </div>


<div class="form-group">
    <%= form.number_field :amount, placeholder: "Amount", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.text_field :unit, placeholder: "Unit", class: "form-control" %>
  </div>

<div id="searchable">
  <%= form.fields_for :ingredient do |builder|%>
    <%= builder.select :ingredient_id, @ingredients.collect { |c| [c.name, c.id ]}, {include_blank: "Please select an ingredient"}, id: "searchable" %>
    <%= builder.check_box :_destroy %>
    <%= builder.label :_destroy, "Remove" %>
<% end %>
  </div>

  <div class="field">
    <%= form.number_field :ingredient_id, placeholder: "Ingredient", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.text_field :rating, placeholder: "Rating", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.text_field :notes, placeholder: "Notes", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.text_field :link, placeholder: "Link", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.check_box(:vegetarian) %>
    <%= label_tag(:vegetarian, "Veg") %>


    <%= form.check_box(:meal_prep) %>
    <%= label_tag(:meal_prep, "Meal Prep") %>


    <%= form.check_box(:tried) %>
    <%= label_tag(:tried, "Tried") %>
  </div>

  <div class="form-group">
    <strong>Upload Recipe Image: </strong>
    <%= form.file_field :avatar %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
