<%= form_for @recipe do |f| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="form-group">
    <%= f.text_field :name, placeholder: "Name", class: "form-control" %>
  </div>


<div id="ingredients">
  <%= f.fields_for :ingredients do |builder| %>
  <%= render 'ingredient_fields', form: builder %>
<% end %>
  </div>

  <div class="form-group">
    <%= f.text_field :rating, placeholder: "Rating", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.text_field :notes, placeholder: "Notes", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.text_field :link, placeholder: "Link", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.check_box(:vegetarian) %>
    <%= label_tag(:vegetarian, "Veg") %>


    <%= f.check_box(:meal_prep) %>
    <%= label_tag(:meal_prep, "Meal Prep") %>


    <%= f.check_box(:tried) %>
    <%= label_tag(:tried, "Tried") %>
  </div>

  <div class="form-group">
    <strong>Upload Recipe Image: </strong>
    <%= f.file_field :avatar %>
  </div>

  <div class="links">
      <%= link_to_add_association 'Add', f, :ingredients, data: { association_insertion_node: '#ingredients', association_insertion_method: :append } %>
  </div>
  <%= f.submit 'save' %>
<% end %>
