<tr class="nested-fields">
  <td>
    <%= link_to_remove_association "remove", f %>
  </td>
  <td><%= f.text_area :name, label: "name" %></td>
  <%= f.number_field :amount, placeholder: "Amount" %>
  <%= f.text_field :unit, placeholder: "Unit" %>
  <%= f.check_box :_destroy, as: :hidden %>

</tr>
