<p id="notice"><%= notice %></p>

<div class="container">

<h1>Recipes</h1>

<table class="table">

  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Rating</th>
      <th>Notes</th>
      <th>Link</th>
      <th>Vegetarian</th>
      <th>Meal Prep</th>
      <th>Tried</th>
      <th>This Week</th>
    </tr>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
        <tr>
        <td><%= recipe.name %></td>
        <td><%= recipe.category.name %></td>
        <td><%= recipe.rating %></td>
        <td><%= recipe.notes %></td>
        <td><%= recipe.link %></td>
        <td>
          <% if recipe.vegetarian == "1" %>
            <%= "Yes" %>
          <% else %>
            <%= "No" %>
          <% end %>
        </td>
          <td>
          <% if recipe.meal_prep == "1" %>
            <%= "Yes" %>
          <% else %>
            <%= "No" %>
          <% end %>
        </td>
          <td>
            <% if recipe.tried == "1" %>
              <%= "Yes" %>
            <% else %>
              <%= "No" %>
            <% end %>
          </td>

          <td id="toggle-thisweek">
            <% if recipe.thisweek == false %>
              <%= "" %>
            <% else %>
              <%= "In Queue" %>
            <% end %>
          </td>

        <td><%= link_to 'Show', recipe, class: "btn btn-success btn-xs" %></td>
        <td><%= link_to 'Edit', edit_recipe_path(recipe), class: "btn btn-warning btn-xs" %></td>
        <td><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" %></td>

  <td id="toggle-thisweek">
    <label class="switch">
    <input type="checkbox">
    <span class="slider" id="toggle-thisweek"></span>
      <%= link_to "toggle", toggle_thisweek_recipe_path(recipe), method: :patch, remote: true %>
  </label>
</td>

<td id="toggle-thisweek"><%= link_to "Toggle", toggle_thisweek_recipe_path(recipe), method: :patch, remote: true %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<%= link_to 'New Recipe', new_recipe_path, class: "btn btn-success btn-xs" %>
