<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @recipe.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @recipe.category.name %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @recipe.amount %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @recipe.unit %>
</p>

<p>
  <strong>Ingredient:</strong>
  <%= @recipe.ingredient_id %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @recipe.rating %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @recipe.notes %>
</p>

<p>
  <strong>Link:</strong>
  <%= @recipe.link %>
</p>

<p>
  <strong>Image:</strong>
  <%= @recipe.avatar %>
</p>

<td>
  <strong>Vegetarian:</strong>
  <% if @recipe.vegetarian == "1" %>
    <%= "Yes" %>
  <% else %>
    <%= "No" %>
  <% end %>
  </td>
  <strong>Meal Prep:</strong>
  <% if @recipe.meal_prep == "1" %>
    <%= "Yes" %>
  <% else %>
    <%= "No" %>
  <% end %>
  </td>
  <td>
    <strong>Tried:</strong>
    <% if @recipe.tried == "1" %>
      <%= "Yes" %>
    <% else %>
      <%= "No" %>
    <% end %>
    </td>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
