<p id="notice"><%= notice %></p>

<div class="container">

<div class="row">
  <div class="col-md-12"></div>
  <h1>Recipes</h1>
</div>

<% @recipes.each do |recipe| %>
<div class="row">
  <div class="col-sm-4"></div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong><%= recipe.name %></strong>
      </div>

      <div class="panel-body">
        <%= recipe.name %>
        <%= recipe.category.name %>
        <%= recipe.notes %>
        <%= recipe.link %>
        <% if recipe.vegetarian == "1" %>
          <%= "Yes" %>
        <% else %>
          <%= "No" %>
        <% end %>
        <% if recipe.meal_prep == "1" %>
          <%= "Yes" %>
        <% else %>
          <%= "No" %>
        <% end %>
        <% if recipe.tried == "1" %>
          <%= "Yes" %>
        <% else %>
          <%= "No" %>
        <% end %>
      </div>


<div class="panel-footer">
        <td><%= link_to 'Show', recipe, class: "btn btn-primary" %></td>
        <td><%= link_to 'Edit', edit_recipe_path(recipe), class: "btn btn-warning" %></td>
  </div>

    <% end %>
      </div>
</div>
