<p id="notice"><%= notice %></p>

<div class="container">

<div class="row">
  <div class="col-md-12"></div>
  <h1>Recipes</h1>
</div>
<div class="row">

<% @recipes.each do |recipe| %>
<div class="col-sm-4">
<div class="panel panel-default">
      <div class="panel-heading">
        <strong><%= recipe.name %></strong>
      </div>

      <div class="panel-body">
        Name: <%= recipe.name %><br />
        Category: <%= recipe.category.name %><br />
        Notes: <%= recipe.notes %><br />
        Link: <%= recipe.link.html_safe %><br />
        Veg: <% if recipe.vegetarian == "1" %><br />
          <%= "Yes" %>
        <% else %>
          <%= "No" %>
        <% end %>
        Meal Prep: <% if recipe.meal_prep == "1" %><br />
          <%= "Yes" %>
        <% else %>
          <%= "No" %>
        <% end %>
        Tried: <% if recipe.tried == "1" %><br />
          <%= "Yes" %>
        <% else %>
          <%= "No" %>
        <% end %>
      </div>

<div class="panel-footer">
        <td><%= link_to 'Show', recipe, class: "btn btn-primary" %></td>
        <td><%= link_to 'Edit', edit_recipe_path(recipe), class: "btn btn-warning" %></td>
  </div>
</div>
</div>
    <% end %>

</div>

</div>
