<p id="notice"><%= notice %></p>

<h1>Store Maps</h1>

<table>
  <thead>
    <tr>
      <th>Aisl</th>
      <th>Aisle number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @store_maps.each do |store_map| %>
      <tr>
        <td><%= store_map.aisl %></td>
        <td><%= store_map.aisle_number %></td>
        <td><%= link_to 'Show', store_map %></td>
        <td><%= link_to 'Edit', edit_store_map_path(store_map) %></td>
        <td><%= link_to 'Destroy', store_map, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Store Map', new_store_map_path %>
