<p id="notice"><%= notice %></p>

<h1>Store Sections</h1>

<table>
  <thead>
    <tr>
      <th>Section</th>
      <th>Aisle</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @store_sections.each do |store_section| %>
      <tr>
        <td><%= store_section.section %></td>
        <td><%= store_section.aisle %></td>
        <td><%= link_to 'Show', store_section %></td>
        <td><%= link_to 'Edit', edit_store_section_path(store_section) %></td>
        <td><%= link_to 'Destroy', store_section, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Store Section', new_store_section_path %>
