<p id="notice"><%= notice %></p>

<p>
  <strong>Section:</strong>
  <%= @store_section.section %>
</p>

<p>
  <strong>Aisle:</strong>
  <%= @store_section.aisle %>
</p>

<%= link_to 'Edit', edit_store_section_path(@store_section) %> |
<%= link_to 'Back', store_sections_path %>
